header {

    .content__container {

        .header__content-txt {
            @include font(24px, 500, #000, 38px, 0);
            @include Montserrat;
            width: 410px;
            max-width: 100%;
            text-transform: uppercase;
        }

        .header__content-title {
            @include font(96px, 700, #000, 80px, 0);
            @include BebasNeue;
            width: 470px;
            max-width: 100%;
            margin-bottom: auto;
            span {
                @include font(96px, 700, #fff, 80px, 0);
            }
        }
        .header__content-img2 {
            position: absolute;
            border-radius: 50%;
            z-index: 11;
            top: 30%;
            right: 35%;
            transform: rotate(8.04deg);
        }
    

    .prices {
        margin-top: 150px;
        padding-bottom: 250px;
        @include flexStart;
        column-gap: 40px;

        .card__1,
        .card__2 {
            .card__txt {
                @include font(20px, 600, #000, 24px, 0);
                @include Montserrat;
                text-transform: uppercase;
            }

            .card__price {
                @include font(65px, 700, #000, 65px, 0);
                @include BebasNeue;
                margin-top: 15px;
                margin-bottom: 40px;
                text-align: center;
            }

            .card__btn {
                padding: 20px 41px;
                background: #000;
                border-radius: 35px;
                @include font(30px, 700, #fff, 30px, 0);
                @include BebasNeue;
                color: #fff;
                transition: 0.3s;
                border: 1px solid rgba(207, 207, 207, 0.3);
                cursor: pointer;

                &:hover {
                    background: none;
                    color: #000;
                    border: 2px solid #000;
                }
            }
        }
    }

    .header__content-banner {


        .header__content-img {
            border-radius: 60%;
            position: absolute;
            right: 0;
            top: 30%;
            width: 55%;
        }
    }
}
}