main{

    .teacher{
        position: relative;
        overflow: hidden;

        .akcii{
            position: absolute;
            left: 0;
            z-index: -1;
            top: 10%;
        }
        .teacher__title{
            @include font(130px, 700, #000, 140px, 0);
            @include BebasNeue;
            text-align: center;
            span{
                color: #280CD7;
            }
        }
        .teacher__img{
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 40px;
        }
        .teacher__name{
            @include font(60px, 700, #000, 66px, 0);
            @include BebasNeue;
            text-align: center;
        }
        .teacher__surname{
            @include font(30px, 700, #000, 66px, 0);
            @include BebasNeue;
            text-align: center; 
        }

        .teacher__about{
            max-width: 775px;
            width: 100%;
            @include font(24px, 400, #000, 32px, 0);
            text-align: center;
            display: flex;
            margin: 0 auto;
            @include Roboto;
        }
    }
}