:root {
    --body: #fff;
    --txt: #000;
    --txt2:#280CD7;
    --link: #000;
    --font-montserrat: 'Montserrat';
    --font-bebasneue:'BebasNeue';
    --icon: #ffff;
    --btn: #000;
    --border: #000;
}

body {
    background: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}
*::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    background: #280CD7;
    border-radius: 10px;
}



a{
    text-decoration: none;
}

ul {
    list-style: none;
}
