
:root {
    --body: #fff;
    --txt: #000;
    --txt2:#280CD7;
    --link: #000;
    --font-montserrat: 'Montserrat';
    --font-bebasneue:'BebasNeue';
    --icon: #ffff;
    --btn: #000;
    --border: #000;
}

body {
    background: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}
*::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    background: #280CD7;
    border-radius: 10px;
}



a{
    text-decoration: none;
}

ul {
    list-style: none;
}


.checkbox {


    input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
    }

    input[type=checkbox]+label:before {
        content: "";
        top: 10px;
        left: 6px;
        width: 0;
        height: 0;
        z-index: 1;
        border: 3px solid transparent;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
    }

    input[type=checkbox]+label:after {
        content: "";
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #c5c9d2;
    }

    input[type=checkbox]+label:before,
    input[type=checkbox]+label:after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: "";
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    }

    input[type=checkbox]:checked+label:before {
        top: 6px;
        left: 4px;
        width: 3px;
        height: 9px;
        border-top: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: 2px solid transparent;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
    }

    input[type=checkbox]:checked+label:after {
        top: 2px;
        z-index: 0;
        background-color: #000;
        border: 2px solid #000;
        border-radius: 5px;
    }
}