
    <div class="about">
        <img src="../img/about-banner.webp" alt="" class="about__banner">
        <div class="container-small">
            <h2 class="about__title">
                Зачем тебе знать <span>про Блокчейн?</span>
            </h2>
            <div class="about__cards">
                <div class="about__card">
                    <h3 class="about__card-title">
                        Вечный тренд будущего
                    </h3>
                    <p class="about__card-txt">
                        Блокчейн и крипта - это не хайп, это такое же изобретение, как интернет. И чем раньше вы
                        запрыгните
                        на его борт - тем больше получите.
                    </p>
                </div>
                <div class="about__card">
                    <h3 class="about__card-title">
                        Большие доходы на старте
                    </h3>
                    <p class="about__card-txt">
                        Модные профессии - всегда сверхдоходны. Когда-то таким был IT-сектор, web-дизайн, а сейчас
                        очередь блокчейна. И даже базовые навыки оцениваются высоко.
                    </p>
                </div>
                <div class="about__card">
                    <h3 class="about__card-title">
                        Универсальность знаний
                    </h3>
                    <p class="about__card-txt">
                        Совсем скоро блокчейн станет частью многих сфер и проектов, поэтому, знания, полученные вами
                        можно применять в огромном количестве направлений и комбинировать с основной профессией.
                    </p>
                </div>
                <div class="about__card">
                    <h3 class="about__card-title">
                        Знание законов
                    </h3>
                    <p class="about__card-txt">
                        Блокчейн и крипта находятся на начальной стадии становления, и их официальный статус многим не
                        понятен. Тем ценнее будут ваши знания, и тем больше шансов избежать проблем.
                    </p>
                </div>
            </div>
        </div>

    </div>
