<main>

    <div class="accardion">


        <div class="container-small">



            <div class="accardion__title">
                программа <span>курса</span>
            </div>

            <button class="accordion"> <span>1</span> Обзор крипто валют и их доходности <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <p>● Краткая история криптовылюты</p>
                <p>● Типы цифровых активов</p>
                <p>● Схожести и различия технологий блокчейнов</p>
                <p>● Тенденции и тренды</p>
                <p>● Психология трейдеры, инвестора, холдера</p>
            </div>

            <button class="accordion"> <span>2</span> Покупка, хранение и переводы монет <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <p>● Краткая история криптовылюты</p>
                <p>● Типы цифровых активов</p>
                <p>● Схожести и различия технологий блокчейнов</p>
                <p>● Тенденции и тренды</p>
                <p>● Психология трейдеры, инвестора, холдера</p>
            </div>

            <button class="accordion"> <span>3</span> Торговля крипто валютами <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <p>● Краткая история криптовылюты</p>
                <p>● Типы цифровых активов</p>
                <p>● Схожести и различия технологий блокчейнов</p>
                <p>● Тенденции и тренды</p>
                <p>● Психология трейдеры, инвестора, холдера</p>
            </div>
            <button class="accordion"> <span>4</span> Инвестирование в крипто валютные фонды <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <p>● Краткая история криптовылюты</p>
                <p>● Типы цифровых активов</p>
                <p>● Схожести и различия технологий блокчейнов</p>
                <p>● Тенденции и тренды</p>
                <p>● Психология трейдеры, инвестора, холдера</p>
            </div>

            <button type="button" class="accardion__btn">Скачать полную программу</button>
        </div>
    </div>
</main>