

    <div class="accardion">


        <div class="container-small">



            <div class="accardion__title">
                программа <span>курса</span>
            </div>

            <button class="accordion"> <span>1</span> Обзор крипто валют и их доходности <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <ul class="panel__list">
                    <li class="panel__item">Краткая история криптовылюты</li>
                    <li class="panel__item">Типы цифровых активов</li>
                    <li class="panel__item">Схожести и различия технологий блокчейнов</li>
                    <li class="panel__item">Тенденции и тренды</li>
                    <li class="panel__item">Психология трейдеры, инвестора, холдера</li>
                </ul>
            </div>

            <button class="accordion"> <span>2</span> Покупка, хранение и переводы монет <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <ul class="panel__list">
                    <li class="panel__item">Краткая история криптовылюты</li>
                    <li class="panel__item">Типы цифровых активов</li>
                    <li class="panel__item">Схожести и различия технологий блокчейнов</li>
                    <li class="panel__item">Тенденции и тренды</li>
                    <li class="panel__item">Психология трейдеры, инвестора, холдера</li>
                </ul>
            </div>

            <button class="accordion"> <span>3</span> Торговля крипто валютами <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <ul class="panel__list">
                    <li class="panel__item">Краткая история криптовылюты</li>
                    <li class="panel__item">Типы цифровых активов</li>
                    <li class="panel__item">Схожести и различия технологий блокчейнов</li>
                    <li class="panel__item">Тенденции и тренды</li>
                    <li class="panel__item">Психология трейдеры, инвестора, холдера</li>
                </ul>
            </div>
            <button class="accordion"> <span>4</span> Инвестирование в крипто валютные фонды <img src="../img/plus.svg" alt="" class="plus"></button>
            <div class="panel">
                <ul class="panel__list">
                    <li class="panel__item">Краткая история криптовылюты</li>
                    <li class="panel__item">Типы цифровых активов</li>
                    <li class="panel__item">Схожести и различия технологий блокчейнов</li>
                    <li class="panel__item">Тенденции и тренды</li>
                    <li class="panel__item">Психология трейдеры, инвестора, холдера</li>
                </ul>
            </div>

            <button type="button" class="accardion__btn">Скачать полную программу</button>
        </div>
    </div>
