<main>
    <div class="algoritm">
        <img src="../img/algoritm-banner.webp" alt="" class="alg__banner">
        <div class="container-small">
            <div class="algoritm__online">
                Онлайн-курс по заработку на криптовалютах
            </div>
            <div class="algoritm__title">
                Алгоритмы Блокчейн: <span>вклад с гарантией</span>
            </div>
            <p class="algoritm__txt">
                ● 37 видео-уроков с кейсами
            </p>
            <p class="algoritm__txt">

                ● 37 экспресс-тестов
            </p>
            <p class="algoritm__txt">
                ● 100 мегабайт дополнительных материалов
            </p>
            <div class="algotritm__prices">
                <p class="algoritm__price">
                    15.000 <span>₽</span>
                </p>
                <button class="algoritm__btn" type="button">начать обучение</button>
            </div>
            <img src="../img/alg2.webp" alt="" class="alg__img">
            <img src="../img/alg.webp" alt="" class="alg__img2">
            <img src="../img/give-card.webp" alt="" class="give__card">
        </div>
    </div>
</main>