<header>

<div class="header__content">
    <div class="container-small content__container">
        <div class="header__content-desk">
            <div class="header__content-txt">
                Онлайн-курс по основам индустрии криптовалют
            </div>
            <div class="header__content-title">
                Алгоритмы Блокчейн: <span>вклад с гарантией</span>  
            </div>
            <img src="../img/header-content.webp" alt="" class="header__content-img2">
            <div class="prices">
                <div class="card__1">
                    <div class="card__txt">Стоимость:</div>
                    <div class="card__price">15.000 ₽</div>
                    <button type="button"  class="card__btn">Купить</button>
                </div>
                <div class="card__2">
                    <div class="card__txt">Время:</div>
                    <div class="card__price">15 часов</div>
                    <button type="button"  class="card__btn">Скачать программу</button>
                </div>
            </div>
        </div>
        <div class="header__content-banner">
            <img src="../img/header-content2.webp" alt="header-content2" class="header__content-img">
        </div>
    </div>
</div>


</header>