

    <nav class="header__nav">
        <div class="container nav__container"> 
            <img src="../img/logo-header.svg" alt="logo" class="header__logo">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#!" class="header__nav-link">Как проходит обучение</a>
                </li>
                <li class="header__nav-item">
                    <a href="#!" class="header__nav-link">О курсе</a>
                </li>
                <li class="header__nav-item">
                    <a href="#!" class="header__nav-link">Программа курса</a>
                </li>
                <li class="header__nav-item">
                    <a href="#!" class="header__nav-link">О спикере</a>
                </li>
            </ul>
           <a href="#!" class="header__nav-number"><img src="../img/phone-logo.svg" alt="">+7 (495) 280-76-89</a>
        </div>
    </nav>
    <h2 class="header__title"><span>обучаембизнесу.рф</span>Получи навыки сегодня - начни зарабатывать завтра</h2>
