<main>

    <div class="form">

    
    <img src="../img/input-banner.webp" alt="" class="input__banner">
    <div class="container">
        <div class="input">
            <h2 class="input__title">
                Оставьте заявку и получите подробную консультацию по программе курса
            </h2>
            <form action="" class="form__input">
                <input type="text" class="input__name" placeholder="ваше имя">
                <input type="number" class="input__num" placeholder="ваш телефон">
                <input type="email" class="input__mail" placeholder="ваш e-mail">
                <button type="button" class="input__btn">Отправить заявку</button>
            </form>

            <p class="input__txt">
              <input type="checkbox" class="txt__checkbox" id="id1"> <label for="id1">СОГЛАСЕН НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕННИЕ РАССЫЛОК, А ТАКЖЕ С  ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ.</label> 
            </p>
        </div>

    </div>
</div>
</main>