<main>
    <div class="last">
        <div class="container-small">
            <div class="last__page">
                <img src="../img/Group 699.webp" alt="" class="last__banner">
                <img src="../img/inp-img.webp" alt="" class="last__img">
                <div class="last__desk">
                    <p class="last__txt">
                        Онлайн-курс по основам индустрии криптовалют
                    </p>
                    <h3 class="last__title">
                        Алгоритмы Блокчейн: вклад с гарантией
                    </h3>
                    <p class="txt">
                        Обучаембизнесу.рф
                    </p>
                    <p class="txt2">
                        Получи навыки сегодня - начни зарабатывать завтра
                    </p>
                </div>
                <div class="last__form">
                    <div class="form__title">
                        Остались <span>вопросы?</span>
                    </div>
                    <div class="form__txt">
                        Оставляй заявку, получи консультацию специалиста и бесплатной урок в подарок
                    </div>
                    <input type="text" class="input__name" placeholder="ваше имя">
                    <input type="number" class="input__num" placeholder="ваш телефон">
                    <input type="email" class="input__mail" placeholder="ваш e-mail">
                    <button type="button" class="input__btn">Отправить заявку</button>

                    <p class="input__txt">
                        <input type="checkbox" class="input__checkbox" id="id1"> <label for="id1">СОГЛАСЕН НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕННИЕ РАССЫЛОК, А ТАКЖЕ С <span>ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ.</span></label> 
                      </p>
                </div>
            </div>
        </div>
    </div>
</main>