
    <div class="learn">
        <div class="container-small">
            <h3 class="learn__title">
                Как проходит <span>обучение</span> 
            </h3>
            <p class="learn__txt">
                В основе - возможность получить реальные инструменты для запуска бизнеса
            </p>
            <div class="learn__cards">
                <div class="learn__card">
                    <img src="../img/calendar.webp" alt="">
                    <div class="learn__card-title">
                        Видео <span>уроки</span> 
                    </div>
                    <div class="learn__card-txt">
                        Только конкретные знания и инструменты для понимания рынка криптовалют Четкий план того, как пользоваться инструментами и получать прибыль.
                    </div>
                </div>
                <div class="learn__card">
                    <img src="../img/photo.webp" alt="">
                    <div class="learn__card-title">
                        Практические<span>задания</span> 
                    </div>
                    <div class="learn__card-txt">
                        Чтобы мгновенно закрепить полученные знания - каждый урок сопровождается экспресс-тестом.
                    </div>
                </div>
                <div class="learn__card">
                    <img src="../img/mail.webp" alt="">
                    <div class="learn__card-title">
                        Доп.<span>материалы</span> 
                    </div>
                    <div class="learn__card-txt">
                        Каждый курс содержит набор дополнительный материалов для изучения, от конспектов до справочочной информации. Такого не скачаешь в интернете.
                    </div>
                </div>
                <div class="learn__card">
                    <img src="../img/chat.webp" alt="">
                    <div class="learn__card-title">
                        Живое<span>общение</span> 
                    </div>
                    <div class="learn__card-txt">
                        Все участники курса могут общаться между собой, обсуждать идеи, и, возможно, находить партнёров для бизнеса или будущих проектов в сфере криптовалют.
                    </div>
                </div>
            </div>
        </div>
    </div>
