

<div class="container-small">
    <div class="lesson__cards">
        <div class="lesson__card">
            <img src="../img/brain.webp" alt="" class="lesson__card-img">
            <h3 class="lesson__card-title">Изучаем</h3>
            <p class="lesson__card-txt">Изучи онлайн-курс о технологии блокчейн и её возможностях для бизнеса</p>
        </div>
        <div class="lesson__card">
            <img src="../img/sistem.webp" alt="" class="lesson__card-img">
            <h3 class="lesson__card-title">Учим</h3>
            <p class="lesson__card-txt">Узнай про майнинг, выбор криптовалюты и специальные биржи</p>
        </div>
        <div class="lesson__card">
            <img src="../img/bank.webp" alt="" class="lesson__card-img">
            <h3 class="lesson__card-title">Рассказываем</h3>
            <p class="lesson__card-txt">Научись зарабатывать и выводить деньги</p>
        </div>
        <div class="lesson__card">
            <img src="../img/profit.webp" alt="" class="lesson__card-img">
            <h3 class="lesson__card-title">Получаем прибыль</h3>
            <p class="lesson__card-txt">Начни полноценную карьеру в индустрии блокчейна и криптовалют</p>
        </div>
    </div>
</div>


