

<div class="sertificate">
    <div class="container-small">
        <div class="sertificate__card">
            <img src="../img/sertificate.webp" alt="" class="sertificate__banner">
            <img src="../img/Path.webp" alt="" class="path">
            <h3 class="sertificate__title">
                Сертификат
            </h3>
            <p class="sertificate__txt">
                Каждый ученик получает фирменный сертификат, подтверждающий полученные знания
            </p>
            <button type="button" class="sertificate__btn">получить</button>
        </div>
    </div>
</div>

