<main>
    <div class="teacher">
        <div class="container-small">
            <div class="teacher__title">
                преподаватель <span>курса</span>
            </div>
            <img src="../img/akcii.webp" alt="" class="akcii">
            <img src="../img/human.webp" alt="" class="teacher__img">
            <div class="teacher__name">Владимир Смеркис</div>
            <div class="teacher__surname">Сооснователь и партнер Tokenbox</div>
            <div class="teacher__about">Бывший вице-президента Mail.Ru Group по международному развитию. Частный инвестором в блокчейн-проекты. Автор программы «Силиконовые Дали» на Megapolis 89,5 FM.
            </div>
        </div>
    </div>
</main>